{% set active_page = "AcceptedPapers" %}
{% set page_title = "Accepted Papers" %}
{% extends "base.html" %}

{% block content %}



<h2>
    Accepted Papers
</h2>

<br />

<strong>This is a temporary list, just to get the information out (and get your excited about COLM 😁). We are aware of some lingering issues in author ordering. This will be fixed in the final release of the list accepted papers, after the camera ready deadline. Please don't use this information for citation purposes.</strong>

<br />
<br />

{% for paper in AcceptedPapers %}
<p>{{paper.title}} <br/> <em>{{paper.authors}}</em></p>
 
{% endfor %}


{% endblock %}