{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: 100%;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="container back" style="padding-bottom: 200px; padding-top: 200px;">
  <div class="row header">
    <div class="p-1 text-center text-white col-md-6 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{{ components.section("COLM") }}

<div class="h5" style="line-height: 1.5; padding-bottom: 50px;">
The leap in general-purpose capabilities from language models is a landmark in the development of artificial intelligence. The nature of this technology has led to a different set of research questions than are the typical focus of related venues. COLM is an academic venue focused on the study of language modeling, broadly defined, with the goal of creating a community of researchers with expertise in different disciplines, focused on understanding, improving, and critiquing the development of LM technology. 
If you are interested in this goal, see our <a href="cfp.html">Call for Papers</a>.
</div>


<!-- Organizers -->
{{ components.section("Organizers") }}
{{ components.organizergroup(committee) }}

{% endblock %}
